@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-rosely0: #27272a;
  --color-rosely1: #615f5f;
  --color-rosely2: #a49e9e;
  --color-rosely3: #f4eee8;
  --color-rosely4: #ec809e;
  --color-rosely5: #f7caca;
  --color-rosely6: #f8d7dd;
  --color-rosely7: #f4dede;
  --color-rosely8: #85677b;
  --color-rosely9: #b565a7;
  --color-roselya: #be9cc1;
  --color-roselyb: #d2c4d6;
  --color-roselyc: #d2386c;
  --color-roselyd: #64bfa4;
  --color-roselye: #3cadd4;
  --color-roselyf: #eada4f;
  --color-primary: #8c4e80;
}
